// rules_version = '2';
// service cloud.firestore {
//   match /databases/{database}/documents {
//     match /transcripts/{document=**} {
//       allow read, write: if request.auth.uid != null;
//     }
//   }
// }

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      function isValidEmail(){
       return ((request.auth.token.email.matches('.*@wsj[.]com$') || request.auth.token.email.matches('.*@dowjones[.]com$')) && 
        request.auth.token.email_verified)
      }
      allow read, write: if isValidEmail();
    }
  }
}