rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /apps/{appName} {
      allow read, write: if request.auth.uid == "gLoKESQNkVavUfSiqqoSEEEa6Lo2"; // admin write need to be rethought
  		match /users/{userId}/{document=**} {
         allow read, write: if request.auth.uid == userId;
      }
      match /projects/{pId} {
      	allow read, write: if request.auth.uid in resource.data.users;
        match /{table}/{fieldId} {
      		allow read, write;
				} 
			} 
  	}
	}
}