.PasswordReset {
  &__container {
    margin-bottom: 5em;
    margin-top: 1em;
    border: 1px solid #6b6b6b;
    width: 398px;
    height: 354px;
    padding: 1.5em;
    position: relative;
  }

  &__header {
    margin-bottom: 0.5em;
  }

  &__error {
    font-size: 0.75em;
    padding: 0.5em;
    margin-top: 0.5em;
  }

  &__submit {
    position: absolute;
    bottom: 4em;
  }

  &__link {
    text-decoration: underline;
    color: #363636;
  }
}