.title-row {
    margin-bottom: 15px;
}

.headers-row {
    color: #6b6b6b;
}

.column {
    display: flex; 

    &__header {
        font-weight: normal;
        border-bottom: solid 1px #c0c0c0; 
        padding-bottom: 8px;
        width: 100%;
    }
}